/*
// ========================================================================
// whole page defaults
// ========================================================================
*/

body {
  font-family: FuturaPT-Book;
  color: white;
  max-width: 100%;
}

h1 {
  color: white;
}

.wallpaper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* fit content to full width */
.full-width {
  width: 100%;
  margin-left: 0;
}

/* no margins for any row content */
.row .row {
  margin: 0;
}

/* top bar defaults - center on top of background */
.top-bar {
  background-color: transparent;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.top-bar-section {
  background-color: transparent !important;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.top-bar-section ul {
  line-height: 50px;
  padding: 0;
}
.top-bar-section ul li {
  background-color: transparent !important;
  line-height: 50px;
  padding: 0;
}
.top-bar-section ul li > a {
  background-color: transparent !important;
  line-height: 50px;
  padding: 0;
}

/* top bar menu - highlight option when selected */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-weight: bold;
}

/* footer area defaults */
.footer-area {
  height: 50px;
  line-height: 50px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.logo {
  color: rgb(26, 26, 26);
}

.side-nav li a:not(.button) {
  color: white;
}

.limit-width {
  width: 1024px;
}

/*
// ========================================================================
// Page specific overrides
// ========================================================================
*/

/* top bar - invert color */
#invert-color .top-bar {
    color: rgb(26, 26, 26);
}
#invert-color .top-bar-section {
    color: rgb(26, 26, 26);
}
#invert-color .top-bar-section ul li {
    color: rgb(26, 26, 26);
}
#invert-color .top-bar-section ul li > a {
    color: rgb(26, 26, 26);
}

/* home page - don't show logo */
#home .logo {
    display: none;
}

/* illustration page - logo in white */
#illustration .logo {
    color: white;
}

/* design page - logo in white */
#design .logo {
    color: white;
}

/*
// ========================================================================
// Specific element styles
// ========================================================================
*/

.index-style {
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.window-caption {
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  height: 150px;
  line-height: 150px;
  display: table;
  text-align: center;
}

.window-caption-middle {
  display: table-cell;
  vertical-align: middle;
}

.social-icon {
  width: 30px !important;
}

.enclosed-title {
  margin-top: 15px;
}

/*
// ========================================================================
// Highlight image selection
// ========================================================================
*/

.picker-wrap {
  position: relative;
}

.picker-caption {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

.picker-wrap:hover .picker-caption {
  visibility: visible;
  opacity: 1;
  -webkit-transition: ease 0.5s; /* Safari */
  transition: ease 0.5s;
}

.picker-crop-height {
  width: 100%;
  overflow: hidden;
}

.picker-crop-width {
  height: 100%;
  overflow: hidden;
}

/*
// ========================================================================
// Scroll to top button
// ========================================================================
*/

.scrollToTop {
  display: block;
}

/*
// ========================================================================
// media queries to resize fonts, borders etc for small devices
// ========================================================================
*/

@media only screen and (max-width: 800px) {
  /* top right bottom left */
  .border-top-only {       padding: 25px 0 0 0; }
  .border-right-only {     padding: 0 25px 0 0; }
  .border-left-only {      padding: 0 0 0 25px; }
  .border-bottom-only {    padding: 0 0 25px 0; }
  .border-top-bottom {     padding: 25px 0 25px 0; }
  .border-top-left {       padding: 25px 0 0 25px; }
  .border-bottom-left {    padding: 0 0 25px 25px; }
  .border-bottom-right {   padding: 0 25px 25px 0; }
  .border-left-right {     padding: 0 25px 0 25px; }
  .border-all-except-top { padding: 0 25px 25px 25px; }
  .border-all-sides {      padding: 25px 25px 25px 25px; }

  .top-bar-section { margin-top: 0; }
}

@media only screen and (max-width: 800px) {
  .font-xlarge { font-size: 4.0em; }
  .font-large { font-size: 2.5em; }
  .font-medium { font-size: 1.6em; }
  .font-small { font-size: 1.3em; }
  .font-xsmall { font-size: 1.0em; }
  .picker-caption { font-size: 0.7em; }
}

@media only screen and (max-width: 640px) {
  .font-xlarge { font-size: 3.5em; }
  .font-large { font-size: 1.8em; }
  .font-medium { font-size: 1.4em; }
  .font-small { font-size: 1.1em; }
  .font-xsmall { font-size: 0.8em; }
  .picker-caption { font-size: 1.3em; }
}
