/*
// ========================================================================
// Borders and layout styles
// ========================================================================
*/

.v-align-middle {
  display: inline-block;
  vertical-align:middle;
}

.border-none {
  padding: 0;
}

.border-top-only {
  /* top right bottom left */
  padding: 25px 0 0 0;
}

.border-right-only {
  /* top right bottom left */
  padding: 0 25px 0 0;
}

.border-left-only {
  /* top right bottom left */
  padding: 0 0 0 25px;
}

.border-bottom-only {
  /* top right bottom left */
  padding: 0 0 25px 0;
}

.border-top-bottom {
  /* top right bottom left */
  padding: 25px 0 25px 0;
}

.border-top-left {
  /* top right bottom left */
  padding: 25px 0 0 25px;
}

.border-bottom-left {
  /* top right bottom left */
  padding: 0 0 25px 25px;
}

.border-bottom-right {
  /* top right bottom left */
  padding: 0 25px 25px 0;
}

.border-left-right {
  /* top right bottom left */
  padding: 0 25px 0 25px;
}

.border-all-except-top {
  /* top right bottom left */
  padding: 0 25px 25px 25px;
}

.border-all-sides {
  padding: 25px 25px 25px 25px;
}
