/*
// ========================================================================
// Load fonts
// ========================================================================
*/

@font-face {
  font-family: 'NeusaMedium';
  src: url('../fonts/The Northern Block Ltd - Neusa-Medium.otf');
}

/*
// ========================================================================
// Font faces
// ========================================================================
*/

.font-rift {
  font-family: Rift-Regular;
}

.font-probapro-xl {
  font-family: ProbaPro-ExtraLight;
}


/*
// ========================================================================
// Font sizing
// ========================================================================
*/

.font-xlarge {
  font-size: 4.5em;
  letter-spacing: 1.5PX;
  word-spacing: 2PX;
  line-height: 1.2em;
}

.font-large {
  font-size: 3.0em;
  letter-spacing: 1.5PX;
  word-spacing: 3PX;
}

.font-medium {
  font-size: 2.5em;
  letter-spacing: 2.1PX;
  word-spacing: 4PX;
}

.font-small {
  font-size: 1.4em;
  letter-spacing: 1.4PX;
}

.font-xsmall {
  font-size: 1.0em;
  letter-spacing: 1.1PX;
}
