---
layout: plain
title: About
menu_control: About
permalink: /about/
---

<body id='about'>
  
  <div class="row full-width">
      {% include header.html %}
  </div>

<div class="border-all-except-top on-white">
  
  <div class="row border-all-sides on-ochre">
    
    <div class="medium-8 columns">
      <h1 class="font-probapro-xl semi-transparent">{{ site.data.about_content.title }}</h1>
      <p class="font-medium">
        {% for text in site.data.about_content.paragraphs %}
          <p class="color-white">{{ text.paragraph }}</p>
        {% endfor %}
      </p>
    </div>
    <div class="medium-4 columns">
      <img src="/imgs/about/me-illustration.png">
    </div>
    
  </div>
  
  <div class="row">
    {% for image in site.data.about_content.images %}
      <img class="border-none" src="{{ image.url }}">
    {% endfor %}
  </div>
  
  <div class="row border-top-only text-center">
    <a href="#" class="scrollToTop"><img src="/imgs/arrow2_up_small.png"/></a>
  </div>
  
</div>

</body>