---
layout: wallpaper
title: ILLUSTRATION
menu_control: Illustration
permalink: /illustration/
backgroundImage: /imgs/illustration/backdrop-duller.jpg
---

<body id='illustration'>

<div class="full-width">
  
<div class="row">
    {% include header.html %}
</div>

<div class="row border-left-only">
  <h1 class="font-probapro-xl text-center">{{ page.title }}</h1>
</div>

<section id="picker-overlay">

  <div class="row border-right-only">

    {% for illustration in site.illustrationGallery %}
    <div class="small-12 medium-6 columns border-bottom-left">
      <a href="{{ illustration.permalink }}">
        <img src="{{ illustration.pickerImage }}" id="pickerImage"/>
        <div class="picker-caption overlay color-white text-center">
          <p class="font-small v-align-middle">{{illustration.title}}</p>
        </div>
      </a>
    </div>
    {% endfor %}

  </div>

</section>

</div>

</body>

