---
layout: wallpaper
backgroundImage: /imgs/home/trees-home-1920x1080.jpg
menu_control: Home
---

<body id='home'>

<div class="full-width">
  
<div class="row">
    {% include header.html %}
</div>

<div class="row">
    <div class="window-caption color-white">
        <div class="window-caption-middle">
            <p class="font-rift font-xlarge">SUE JARMAN</p>
            <p class="font-large">
                <a class="color-white" href="{{site.baseurl}}/illustration">illustration</a>
                &nbsp;&nbsp;
                <a class="color-white" href="{{site.baseurl}}/design">design</a>
                &nbsp;&nbsp;
                animation
            </p>
        </div>
    </div>
</div>

<div class="row">
    {% include footer.html %}
</div>

</div>

</body>
