---
layout: wallpaper
backgroundImage: /imgs/home/trees-home-1920x1080.jpg
menu_control: Home
---

<body id='home'>

<div class="full-width">
  
<div class="row">
    {% include header.html %}
</div>

<div class="row index-style">
    <div class="window-caption color-white">
        <div class="window-caption-middle">
            <p class="font-rift font-xlarge">SUE JARMAN</p>
            <p class="font-medium">illustration&nbsp;&nbsp;design&nbsp;&nbsp;animation</p>
            <p class="font-small">website under construction</p>
        </div>
    </div>
</div>

<div class="row">
    {% include footer.html %}
</div>

</div>

</body>
