---
layout: default
title: Portfolio
menu_control: Portfolio
permalink: /portfolio/
---

<div class="large-3 columns show-for-medium-up">
  {% include gallery_list.html %}
</div>

<div class="large-9 columns show-for-medium-up">
  <h1>{{ site.data.portfolio_text.title }}</h1>
  <p>{{ site.data.portfolio_text.desc }}</p>
</div>

<div class="large-12 columns show-for-small-only">
  <h1>{{ site.data.portfolio_text.title }}</h1>
  <p>{{ site.data.portfolio_text.desc }}</p>
  {% include gallery_list.html %}
</div>
