---
layout: default
title: Portfolio
menu_control: Portfolio
permalink: /portfolio/
---

<div class="large-3 columns show-for-large-up">
  {% include gallery_list.html %}
</div>

<div class="large-9 columns show-for-medium-up">
  <h1>{{ site.data.portfolio_text.title }}</h1>
  <p>{{ site.data.portfolio_text.desc }}</p>
  {% for image in site.data.portfolio_text.images %}
    <a href="{{ image.link_url }}"><img width=49% src="{{ image.image_url }}"></a>
  {% endfor %}
</div>

<div class="large-12 columns show-for-small-only">
  <h1>{{ site.data.portfolio_text.title }}</h1>
  <p>{{ site.data.portfolio_text.desc }}</p>
  {% for image in site.data.portfolio_text.images %}
    <a href="{{ image.link_url }}"><img src="{{ image.image_url }}"></a>
  {% endfor %}
</div>
