---
layout: wallpaper
title: PROJECTS
menu_control: Projects
permalink: /projects/
backgroundImage: /imgs/projects/backdrop-duller.jpg
---

<body id='projects'>

<div class="full-width">

  <div class="row">
    {% include header.html %}
  </div>

  <div class="row border-left-only">
    <h1 class="font-probapro-xl font-medium text-center">{{ page.title }}</h1>
  </div>

  <div class="row border-left-only">

    {% for projects in site.galleryProjects %}
    <div class="picker-wrap small-12 medium-4 columns border-bottom-right">
      <a href="{{ projects.permalink }}">
        <img src="{{ projects.pickerImage }}" id="pickerImage"/>
        <p class="picker-caption color-white on-ochre text-center v-align-middle">{{projects.title}}</p>
      </a>
    </div>
    {% endfor %}

  </div>

</div>

</body>
