---
layout: plain
---

<div class="small-12 columns border-top-left">
  <p class="font-medium text-left color-white">
    PROJECTS
  </p>
</div>



<section id="picker-overlay">

  <div class="border-none">

    {% for project in site.projectGallery %}
    {% assign looprow = forloop.index0 | modulo: 2 %}
    {% assign loopindex = forloop.index0 | modulo: 6 %}

    {% if looprow == 0 %}
    <div class="row">
    {% endif %}

    {% case loopindex %}
    {% when 0 %}
    <div class="small-12 medium-6 columns border-none">
      <div>
    {% when 1 %}
    <div class="small-12 medium-6 columns border-none">
      <div>
    {% when 2 %}
    <div class="small-12 medium-8 columns border-none">
      <div class="picker-crop-height">
    {% when 3 %}
    <div class="small-12 medium-4 columns border-none">
      <div class="picker-crop-width">
    {% when 4 %}
    <div class="small-12 medium-4 columns border-none">
      <div class="picker-crop-width">
    {% when 5 %}
    <div class="small-12 medium-8 columns border-none">
      <div class="picker-crop-height">
    {% endcase %}

    <a href="{{ project.permalink }}">
      <img src="{{ project.pickerImage }}" id="pickerImage"/>
      <div class="picker-caption overlay color-white">
        <p class="font-medium v-align-middle align-center">{{project.title}}</p>
      </div>
    </a>

    </div>
    </div>

    {% if looprow == 1 %}
    </div>
    {% endif %}

    {% endfor %}

  </div>

</section>
