<div class="large-12 columns">
  <dl class="sub-nav">
    <dt>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.copyright_owner }}</dt>

    <dd><a href="mailto:{{ site.email }}"><i class="fi-mail"></i> {{ site.email }}</a></dd>

    {% if site.github_username %}
      <dd>
        <a href="https://github.com/{{ site.github_username }}"><i class="fi-social-github"></i> {{ site.github_username }}</a>
      </dd>
    {% endif %}
    {% if site.twitter_username %}
      <dd>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fi-social-twitter"></i> {{ site.twitter_username }}</a>
      </dd>
    {% endif %}
  </dl>  
</div>
