<div class="footer-area">
  <div class="text-center">
    <a href="{{ site.baseurl }}/index">Sue Jarman {{ site.time | date: "%Y" }}&copy; &nbsp; &nbsp;
   
<!--<b <a href="https://www.pinterest.com/sue_jarman/sue-jarman-illustration/"><img src="/imgs/new icons light grey/new social icons-03-pinterest.png" class="social-icon"/></a> </b>-->
    <a href="https://www.facebook.com/pages/Sue-Jarman-Design/315886465090294"><img src="/imgs/new icons light grey/new social icons-04-facebook.png" class="social-icon"/></a>
    <a href="https://twitter.com/sue_jarman"><img src="/imgs/new icons light grey/new social icons-05-twitter.png" class="social-icon"/></a>
    <!--<b <a href="http://suejarman.tumblr.com"><img src="/imgs/new icons light grey/new social icons-01-tumbler.png" class="social-icon"/></a></b>-->
    <a href="http://uk.linkedin.com/pub/sue-jarman/1a/502/437"><img src="/imgs/new icons light grey/new social icons-02-linkedin.png" class="social-icon"/></a>
    <a href="https://www.instagram.com/sue_jarman/"><img src="/imgs/new icons light grey/new social icons-06-instagram.png" class="social-icon"/></a>
  </div>
</div>



<div class="small-6 columns text-right">