<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">

    <div class="show-for-small-only">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">MENU</a></li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left on-black">
        <li><a href="/illustration">ILLUSTRATION</a></li>
        <li><a href="/design">DESIGN</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="{{ site.posts.first.url }}">BLOG</a></li>
      </ul>
    </div>

    <div class="show-for-medium-up">
      <div class="medium-9 columns">
        <ul class="left">
          <li><a href="/illustration">ILLUSTRATION</a></li>
          <li><a href="/design">DESIGN</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <li><a href="{{ site.posts.first.url }}">BLOG</a></li>
        </ul>
      </div>
      <div class="medium-3 columns font-rift font-small text-right">
        <a class="logo" href="{{ site.baseurl }}/index">SUE JARMAN</a>
      </div>
    </div>

  </section>

</nav>  
