<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">
      
    <div class="show-for-small-only">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">MENU</a></li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left on-black">
        <li><a href="/about">ABOUT</a></li>
      </ul>
    </div>
    
    <div class="show-for-medium-up">
      <div class="medium-10 columns">
        <ul class="left">
          <li><a href="/about">ABOUT</a></li>
        </ul>
      </div>
      <div class="medium-2 columns">
        <img src="/imgs/logo 26grey.png">
      </div>
    </div>
      
    
  </section>

</nav>  
