---
layout: default
---

<div class="large-3 columns show-for-medium-up">
  {% include gallery_list.html %}
</div>

<div class="large-9 columns show-for-medium-up">
  <h2>{{ page.title }}</h2>
  <p>{{ page.desc }}</p>
  
  <ul class="clearing-thumbs" data-clearing>
    {% for image in page.images %}
      <li class="name">
        <a href="{{ image.url }}">
          <img src="{{ image.thm }}" class="portfolio-thumb" data-caption="{{ image.caption }}">
        </a>
      </li>
    {% endfor %}
  </ul>
  
</div>



<div class="large-12 columns show-for-small-only">
  <h2>{{ page.title }}</h2>
  <p>{{ page.desc }}</p>

  <ul class="clearing-thumbs" data-clearing>
    {% for image in page.images %}
      <li class="name">
        <a href="{{ image.url }}">
          <img src="{{ image.thm }}" data-caption="{{ image.caption }}">
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
