---
layout: default
---

<div class="large-3 columns">
  {% include gallery_list.html %}
</div>

<div class="large-9 columns">
  <div class="row">
    <div class="large-1 columns">
    </div>

    <div class="large-10 columns">
      <ul class="example-orbit" data-orbit>
        {% for image in page.images %}
          <li>
            <img src="{{ image.url }}"/>
          </li>
        {% endfor %}
      </ul>      
    </div>

    <div class="large-1 columns">
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">    
      <p>{{ page.desc }}</p>
    </div>
  </div>
</div>

