---
layout: wallpaper
---

<div class="small-12 columns border-dynamic">
  {% for image in page.images %}
    {% if forloop.first %}
      <div class="window-caption color-white">
        <div class="window-caption-middle">
          <p class="font-xlarge">{{ page.title }}</p>
        </div>
      </div>
      <div class="border-all-sides on-light-grey">
        <div class="border-all-sides on-light-green">
          <p class="font-medium color-white">
            {{ page.desc }}
          </p>
        </div>
      </div>
    {% endif %}
    <div class="border-none text-center on-dark-grey">
      <div class="show-for-small-only text-center">
        <img class="border-none" src="{{ image.mobile }}"/>
      </div>
      <div class="show-for-medium-up text-center">
        <img class="border-none" src="{{ image.desktop }}"/>
      </div>
    </div>
  {% endfor %}
  <div class="border-top-only text-center on-dark-grey">
    <a href="#" class="scrollToTop"><img src="/imgs/arrow2_up_small.png"/></a>
  </div>
</div>
