---
layout: plain
---

<div class="full-width">

  <div class="row">
    {% include header.html %}
  </div>

  <div class="border-bottom-only on-white">

    <div class="row border-all-sides on-ochre">

      <div class="small-12 medium-9 columns">
        <h1 class="font-probapro-xl font-medium semi-transparent">{{ page.title }}</h1>
        <h1 class="font-probapro-xl font-medium semi-transparent">{{ page.date | date: "%B %-d %Y" }}</h1>
        <p class="font-medium color-white">{{ content }}</p>
      </div>

      <div class="small-12 medium-3 columns">
        <h1 class="font-probapro-xl font-medium semi-transparent">Archive</h1>
        <ul class="side-nav">
          {% for post in site.posts %}
          <li class="color-white"><a href="{{ post.url }}">{{ post.date | date: "%B %-d %Y" }}<br>{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="row border-top-only center-text">
      <a href="#" class="scrollToTop"><img src="/imgs/arrow2_up_small.png" style="width:5%;"/></a>
    </div>

  </div>

</div>

</body>
